/* Navigation bar
 ============================================================== */
.nav {
	width: 100%;
	font-family: "Barlow", sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #19354E;
}
.nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav ul li {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.nav ul li:hover {
	background-color: #8190A5;
}
.nav ul li a {
	color: inherit;
	text-decoration: inherit;
}
.nav ul .logoutBtn {
	justify-self: flex-end;
	margin-left: auto;
}
/* ============================================================== */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	flex-direction: column;
	display: flex;
}

header {
	text-align: center;
	height: 10vh;
}

h1 {
	font-family: 'Comfortaa', sans-serif;
	margin: 0px;
}

.mainContainer {
	margin: 10px 10px 10px 10px; /* So it isn't shoved in the top left corner */
}

section#change_username_div {
	height: 4vh;
}

div#change_username, section#input_zone {
  
}

div#change_username {
	height: 4vh;
	display: inline-block;
  
}

section#chatroom {
	background-color: #eeeeee;
	height: 60vh;
	overflow-y: auto;
}

section#input_zone {
	height: 7%;
	text-align: center;
	flex-shrink: 0;
}
section#connectedUsers {
	flex-shrink: 0;
}

input#username {
	font-family: 'Comfortaa', sans-serif;
}

input#message {
	display: inline-block;
	width: 88%;
	height: 70%;
	font-family: 'Comfortaa', sans-serif;
	font-size: 2vh;
	background-color: #eeeeee;
}

button#send_message {
	display: inline-block;
	height: 70%;
	width: 10%;
	background-color: #19354E;
	color: white;
}

p.message {
	margin: 0px;
	height: 40px;
	font-size: 2vh;
	font-family: 'Comfortaa', sans-serif;
	padding: 1vh;
}

.messageOthers {
	float: left;
	background-color: #ffffff;
	color: black;
	width: 80%;
}

.messageYours {
	float: right;
	text-align: right;
	width: 80%;
	background-color: #ffffff;
	color: black;
}

