.mainContainer {
  margin: 10px 10px 10px 10px;
}

.mainContainer .searchContainer {
  margin-top: 10px;
  width: 100%;
  height: 700px;
}

.mainContainer .searchContainer .searchBar {
  display: flex;
  align-content: center;
  width: 100%;
}

.mainContainer .searchContainer .searchBar .askQuestionLabel {
  width: 59px;
}

.mainContainer .searchContainer .searchBar .magnifyingGlassContainer {
  width: 30px;
}

.mainContainer .searchContainer .searchBar .magnifyingGlass {
  width: 100%; /* Fill in the container */
}

/* questionBox */
.mainContainer .searchContainer input[type=text] {
  width: 100%;
}

.mainContainer .searchContainer .searchBar .submitQuestionBtn {
  height: 24px;
}

/* When awesomplete gots dynamically generated, apply the following style */
.awesomplete {
  width: 100%;
}

