.container{padding:20px;margin:0;}
.bg{background:#167efb;color:#167efb;}

/* Radio group */
.segmented {
  display:flex;
  flex-flow:row wrap;
  box-sizing:border-box;
  font-family: 'Barlow', sans-serif;
  font-size:90%;
  text-align:center;
}
.segmented label {
  display:block;
  flex:1;
  box-sizing:border-box;
  border:1px solid black;
  border-right:none;
  color:#19354E;
  margin:0;
  padding:.4em;
  cursor: pointer;
  user-select:none;
  -webkit-user-select:none;
}
.segmented label.checked {
  background:#19354E;
  color:#fff;
}
.segmented.inverted label {
  border-color:#fff;
  color:#fff;
  background:none;
}
.segmented.inverted label.checked {
  background:#fff;
  color:inherit;
}
.segmented label:first-child {
  border-radius:.4em 0 0 .4em;
  border-right:0;
}
.segmented label:last-child {
  border-radius:0 .4em .4em 0;
  border-right:1px solid;
}
.segmented input[type="radio"] {
  appearance:none;
  -webkit-appearance:none;
  margin:0;
  position: absolute;
}