.searchContainer {
  width: 400px;
  height: 500px;
}

.searchContainer .searchBar {
  display: flex;
  align-content: center;
  width: 400px;
  height: 40px;
}

.searchContainer .searchBar .magnifyingGlass {
  width: 50px;
}

.searchContainer input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchContainer input[type=text]:focus {
  width: 100%;
}

#searchBtn {
  margin-top: 5px;
}
